.acc-header {
    background-color: lemonchiffon;
    border: 1px solid green;
    font-size: 18;
    width: 300px;
    text-align: center;
}

.acc-container-body {
    background-color: honeydew;
    border: 1px solid green;
    display: flex;
    width: 900px;
}

.acc-body {
    display: none;
}

.acc-show {
    display: flex;
}

.acc-background {
    background-color: rgb(162, 0, 255);
}

.active-color {
    background-color: hotpink;
}

.acc-container-header {
    display: flex;
}

.accordeon-component {
    width: 800px;
}